In [1]:
from knn import KNN

In [3]:
import pandas as pd

data = pd.read_csv('data_train.csv')
data.head()

        x_1        x_2  y
0  0.189645 -27.017739  0
1  0.692067  -9.033156  0
2 -1.003673 -30.560446  0
3  0.149332 -51.732407  0
4  0.132216 -13.741323  0

In [4]:
data_test = pd.DataFrame({"x_1": [0.5],
                          "x_2": [29.0]})
data_test

   x_1   x_2
0  0.5  29.0

In [5]:
knn = KNN(data, data_test, data['y'], standardize=False)
knn2 = KNN(data, data_test, data['y'])

In [6]:
major, id = knn.calculate_knn()
major1, id1 = knn2.calculate_knn()

In [7]:
major, major1

(1, 1)

In [8]:
id, id1

([20, 8, 30], [20, 19, 28])