In [1]:
from knn import KNN

In [2]:
import pandas as pd

data = pd.read_csv('data_train.csv')
data.head()

        x_1        x_2  y
0  0.189645 -27.017739  0
1  0.692067  -9.033156  0
2 -1.003673 -30.560446  0
3  0.149332 -51.732407  0
4  0.132216 -13.741323  0

In [3]:
data_test = pd.DataFrame({"x_1": [0.5],
                          "x_2": [29.0]})
data_test

   x_1   x_2
0  0.5  29.0

In [4]:
knn = KNN(data.drop('y', axis=1), data_test, data['y'], standardize=False)
knn2 = KNN(data.drop('y', axis=1), data_test, data['y'])

In [5]:
major, id = knn.calculate_knn()
major1, id1 = knn2.calculate_knn()

In [6]:
data.iloc[:1, :]

        x_1        x_2  y
0  0.189645 -27.017739  0

In [7]:
major, major1

(1, 1)

In [8]:
id, id1

([20, 8, 30], [20, 19, 28])

In [9]:
dummy_dict = {
    'f1': [10, 8, 7, 0, 1],
    'f2': [50, 60, 40, 10, 0],
    'f3': [0.2, 0.0, 0.0, 1.2, 0.8],
    'f4': [0, 1, 0, 20, 56],
    'class': [0, 0, 0, 1, 1]
}

data2 = pd.DataFrame(dummy_dict)
data2

   f1  f2   f3  f4  class
0  10  50  0.2   0      0
1   8  60  0.0   1      0
2   7  40  0.0   0      0
3   0  10  1.2  20      1
4   1   0  0.8  56      1

In [10]:
X_train = data2.drop('class', axis=1)
X_train

   f1  f2   f3  f4
0  10  50  0.2   0
1   8  60  0.0   1
2   7  40  0.0   0
3   0  10  1.2  20
4   1   0  0.8  56

In [11]:
y_train = data2['class']
y_train

0    0
1    0
2    0
3    1
4    1
Name: class, dtype: int64

In [18]:
data_test2 = pd.DataFrame({
    'f1': [5, 1, 12],
    'f2': [60, 0, 6],
    'f3': [0.2, 1.2, 1],
    'f4': [0, 4, 100]
})

data_test2

   f1  f2   f3   f4
0   5  60  0.2    0
1   1   0  1.2    4
2  12   6  1.0  100

In [19]:
knn3 = KNN(X_train, data_test2, y_train)

In [14]:
knn3.calculate_knn()

(0, [1, 2, 0])

In [20]:
knn3.transform()

([0, 1, 1], [[1, 2, 0], [3, 4, 2], [4, 3, 0]])